
body {
    background-color: #cedef0;
}

#butts {
    display: block;
    text-align: center;
    background-color: #9d9ad9;
    padding: 5px;
}

.bt {
    margin: 5px;
    color: black;
    font-weight: 600;
}

#er {
    margin-left: 30px;
}

#r {
    margin-left: 45px;
}

canvas {
    display: block;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
}